{{ '{% load mjml %}' }}

{{ '{% mjml %}' }}
<mjml>
  <mj-head>
    <mj-style>
      .test {
        display: inline-flex;
        padding: 4px 8px;
        border-radius: 6px;
        font-size: 14px;
        line-height: 18px;
        font-weight: 500;
        color: #047857;
        background-color: #ECFDF5;
      }
    </mj-style>
  </mj-head>

  <mj-body>
    <mj-section background-color="#f9f9f9">
      <mj-column>
        <mj-text
          font-size="24px"
          font-weight="bold"
          color="#333333"
          align="center"
          padding="20px 0"
        >
          {{ cookiecutter.project_name }}
        </mj-text>
      </mj-column>
    </mj-section>

    <mj-section>
      <mj-column>
        <mj-text font-size="16px" color="#666666" padding="5px 0">
          {{ cookiecutter.project_description }}
        </mj-text>
      </mj-column>
    </mj-section>

    <mj-section background-color="#ffffff">
      <mj-column>
        <span class="test">
          Test
        </span>
      </mj-column>
    </mj-section>

    <mj-section background-color="#f9f9f9">
      <mj-column>
          <mj-text font-size="18px" font-weight="bold" color="#333333" css-class="header">
            Friendly Ad
          </mj-text>
          <mj-text font-size="16px" color="#666666">
            You can test this email by clicking the button below.
          </mj-text>
      </mj-column>
    </mj-section>

  </mj-body>
</mjml>
{{ '{% endmjml %}' }}
