DEBUG=on
ENVIRONMENT=dev

SECRET_KEY="super-secret-key"

ALLOWED_HOSTS=*
CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000

DATABASE_URL=postgres://{{ cookiecutter.project_slug }}:{{ cookiecutter.project_slug }}@db:5432/{{ cookiecutter.project_slug }}
REDIS_URL=redis://:{{ cookiecutter.project_slug }}@redis:6379/0

{% if cookiecutter.use_github_auth == 'y' -%}
# Get his values after creating a new app on GitHub: https://github.com/settings/applications/new
# For Homepage URL use: http://localhost:8000
# For Authorization callback URL use: http://localhost:8000/accounts/github/login/callback/
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
{% endif %}

AWS_S3_ENDPOINT_URL=http://localhost:9000
AWS_ACCESS_KEY_ID={{ cookiecutter.project_slug }}
AWS_SECRET_ACCESS_KEY={{ cookiecutter.project_slug }}

{% if cookiecutter.use_sentry == 'y' -%}
SENTRY_DSN=
{% endif %}

MAILGUN_API_KEY=

{% if cookiecutter.use_posthog == 'y' -%}
POSTHOG_API_KEY=
{% endif %}

{% if cookiecutter.use_buttondown == 'y' -%}
BUTTONDOWN_API_KEY=
{% endif %}

{% if cookiecutter.use_stripe == 'y' -%}
STRIPE_LIVE_SECRET_KEY=
STRIPE_TEST_SECRET_KEY=
DJSTRIPE_WEBHOOK_SECRET=
{% endif %}
