services:
  db:
    image: rasulkireev/custom-postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB={{ cookiecutter.project_slug }}
      - POSTGRES_USER={{ cookiecutter.project_slug }}
      - POSTGRES_PASSWORD={{ cookiecutter.project_slug }}

  redis:
    image: redis:7-alpine
    command: redis-server --requirepass {{ cookiecutter.project_slug }}
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    environment:
      - REDIS_PASSWORD={{ cookiecutter.project_slug }}

  backend:
    build:
      context: .
      dockerfile: Dockerfile-python
    working_dir: /app
    command: sh -c "python manage.py migrate && python manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
    env_file:
      - .env

  workers:
    build:
      context: .
      dockerfile: Dockerfile-python
    working_dir: /app
    command: python manage.py qcluster
    volumes:
      - .:/app
    depends_on:
      - db
      - redis
    env_file:
      - .env

  frontend:
    image: node:18
    working_dir: /app
    command: sh -c "npm install && npm run start"
    volumes:
      - .:/app
    ports:
      - "9091:9091"

  mailhog:
    image: mailhog/mailhog
    expose:
      - 1025
      - 8025
    ports:
      - "1025:1025"
      - "8025:8025"

volumes:
  postgres_data:
  redis_data:
