{{ "{% extends 'base.html' %}" }}
{{ "{% load account %}" }}


{{ "{% block head_title %}" }}
    Confirm Email Address
{{ "{% endblock head_title %}" }}

{{ "{% block content %}" }}
<div class="container px-4 py-8 mx-auto">
    <div class="mx-auto max-w-3xl">
        <h1 class="mb-8 text-3xl font-bold text-center">
            Confirm Email Address
        </h1>

        {{ "{% if confirmation %}" }}
            {{ "{% user_display confirmation.email_address.user as user_display %}" }}
            {{ "{% if can_confirm %}" }}
                <p class="mb-6 text-center">
                    Please confirm that <a href="mailto:{% raw %}{{ confirmation.email_address.email }}{%- endraw %}" class="text-{{cookiecutter.project_main_color}}-600 hover:underline">{{ "{{ confirmation.email_address.email }}" }}</a> is an email address for user {{ "{{ user_display }}" }}.
                </p>
                {{ "{% url 'account_confirm_email' confirmation.key as action_url %}" }}
                <form method="post" action="{% raw %}{{ action_url }}{%- endraw %}" class="flex justify-center">
                  {{ "{% csrf_token %}" }}
                    {{ "{{ redirect_field }}" }}
                    <button type="submit" class="px-4 py-2 text-white bg-{{cookiecutter.project_main_color}}-600 rounded-md hover:bg-{{cookiecutter.project_main_color}}-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-{{cookiecutter.project_main_color}}-500">
                        Confirm
                    </button>
                </form>
            {{ "{% else %}" }}
                <p class="text-center text-red-600">
                    Unable to confirm {{ "{{ confirmation.email_address.email }}" }} because it is already confirmed by a different account.
                </p>
            {{ "{% endif %}" }}
        {{ "{% else %}" }}
            {{ "{% url 'account_email' as email_url %}" }}
            <p class="text-center">
                This email confirmation link expired or is invalid. Please <a href="{% raw %}{{ email_url }}{%- endraw %}" class="text-{{cookiecutter.project_main_color}}-600 hover:underline">issue a new email confirmation request</a>.
            </p>
        {{ "{% endif %}" }}
    </div>
</div>
{{ "{% endblock content %}" }}
