{{ "{% extends 'base_landing.html' %}" }}
{{ "{% load widget_tweaks %}" }}

{{ "{% block content %}" }}
    <div class="flex justify-center items-center px-4 py-12 my-4 sm:px-6 lg:px-8">
        <div class="space-y-8 w-full max-w-md">
            <div>
                <h2 class="mt-6 text-3xl font-extrabold text-center text-gray-900">
                    Reset your password
                </h2>
                <p class="mt-2 text-sm text-center text-gray-600">
                    Enter your email address and we'll send you a link to reset your password.
                </p>
            </div>
            <form class="mt-8 space-y-6" method="post" action="{% raw %}{% url 'account_reset_password' %}{% endraw %}">
                {{ "{% csrf_token %}" }}
                {{ "{{ form.non_field_errors | safe }}" }}

                <div class="rounded-md shadow-sm">
                    <div>
                        {{ "{{ form.email.errors | safe }}" }}
                        <label for="email" class="sr-only">Email address</label>
                        {{ '{% render_field form.email placeholder="Email address" id="email" name="email" type="email" autocomplete="email" required=True class="block relative px-3 py-2 w-full placeholder-gray-500 text-gray-900 rounded-md border border-gray-300 appearance-none focus:outline-none focus:ring-{{cookiecutter.project_main_color}}-500 focus:border-{{cookiecutter.project_main_color}}-500 focus:z-10 sm:text-sm" %}' }}
                    </div>
                </div>

                <div>
                    <button type="submit"
                            class="flex relative justify-center px-4 py-2 w-full text-sm font-medium text-white bg-{{cookiecutter.project_main_color}}-600 rounded-md border border-transparent border-solid group hover:bg-{{cookiecutter.project_main_color}}-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-{{cookiecutter.project_main_color}}-500">
                        Send reset link
                    </button>
                </div>

                <div class="flex justify-center items-center">
                    <div class="text-sm">
                        <a href="{% raw %}{% url 'account_login' %}{% endraw %}" class="font-medium text-{{cookiecutter.project_main_color}}-600 hover:text-{{cookiecutter.project_main_color}}-500">
                            Back to sign in
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{{ "{% endblock content %}" }}
