{{ '{% extends "base.html" %}' }}

{{ "{% block content %}" }}
  <h1 class="mb-10 text-xl font-bold text-{{cookiecutter.project_main_color}}-800">Helllloooooo!</h1>

  {{ "{% if user.is_authenticated %}" }}
    <p>Username: {{ "{{ user.username }}" }}</p>
    <p>Email: {{ "{{ user.email }}" }}</p>
    <a href="{% raw %}{% url 'account_logout' %}{%- endraw %}">Logout</a>
  {{ "{% else %}" }}
    <a href="{% raw %}{% url 'account_login' %}{%- endraw %}">Login</a>
    <a href="{% raw %}{% url 'account_signup' %}{%- endraw %}">Signup</a>
  {{ "{% endif %}" }}

{{ "{% endblock content %}" }}
